.shadow__btn {
    border: none;
    color: #fff;
    letter-spacing: 1px;
    font-weight: 900;
    text-transform: uppercase;
    transition: 0.5s;
    transition-property: box-shadow;
}

.shadow__btn {
    background: rgba(0, 0, 0, 0.616);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.616);
}

.shadow__btn:hover {
    box-shadow: 0 0 5px #FABB14,
        0 0 10px #FABB14,
        0 0 20px #FABB14,
        0 0 40px #FABB14;
}

.PLANBOX {
    position: relative;
}

.PLANBOX:hover::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 50px;
    padding: 2px;
    background: linear-gradient(180deg, #fabd14, black, transparent);
    mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    ;
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
}

.fancybox-content {
    transform: translate(178.5px, -2488.05px) scale(1, 1);
    opacity: 1;
    width: 1563px;
    height: 4203px;
}

@media only screen and(min-width:1280px) {
    .categoryBox img {
        width: 200px;

    }
}

#BIG_BACKGROUND_SECTION { min-width: 100%; height: 800vh; background-image: url('/upload/920/files/LTd9nUg0/TvWYXO3m/HnudL5sG/fxR6cSi0.png'); background-size: contain; background-repeat: no-repeat; margin: 0; padding: 0; display: flex; flex-direction: column; justify-content: center; align-items: center; padding: 25% 15%;}
#STEPS__IMAGE { width: 100%; margin: 10% auto;}
#STEPS__IMAGE__VERTICAL {width: 100%;margin: 10% auto;}
.card { --background: linear-gradient(to left, #f7ba2b 0%, #ea5358 100%); width: 140px; height: 140px; padding: 5px; border-radius: 2rem; overflow: visible; background: #f7ba2b; background: var(--background); position: relative; z-index: 1;}
.card::after { position: absolute; content: ""; top: 30px; left: 0; right: 0; z-index: -1; height: 100%; width: 100%; -webkit-transform: scale(0.8); -ms-transform: scale(0.8); transform: scale(0.8); -webkit-filter: blur(25px); filter: blur(25px); background: #f7ba2b; background: var(--background); -webkit-transition: opacity .5s; transition: opacity .5s;}
.card-info { --color: #181818; background: var(--color); color: var(--color); display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; flex-direction: column; width: 100%; height: 100%; overflow: visible; border-radius: 1.8rem;}
/*Hover*/
.card:hover::after { opacity: 0;}
.card:hover .card-info { color: #fafafa; -webkit-transition: +color 1s; transition: color 1s;}